In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('../data/clean/clean_movies.csv')

In [92]:
df

,Unnamed: 0,title,vote_average,release_date,revenue,runtime,adult,budget,genres
0,3,Avatar,7.573,2009-12-15,2923706026,162,False,237000000,"Action, Adventure, Fantasy, Science Fiction"
1,15,Avengers: Endgame,8.263,2019-04-24,2800000000,181,False,356000000,"Adventure, Science Fiction, Action"
2,282,Avatar: The Way of Water,7.654,2022-12-14,2320250281,192,False,460000000,"Science Fiction, Adventure, Action"
3,56,Star Wars: The Force Awakens,7.293,2015-12-15,2068223624,136,False,245000000,"Adventure, Action, Science Fiction"
4,6,Avengers: Infinity War,8.255,2018-04-25,2052415039,149,False,300000000,"Adventure, Action, Science Fiction"
...,...,...,...,...,...,...,...,...,...
5892,308571,Shrek's Yule Log,10.000,2010-12-07,1000,30,False,1000,"Family, Animation, Comedy"
5893,894592,Grandpa Comes Back from Germany,0.000,2013-08-09,1000,105,False,500,"Crime, Thriller, Action"
5894,449098,Across the Rails,0.000,2022-01-12,1000,40,False,3000,"Documentary, Adventure"
5895,202355,Plane Tree,5.000,2018-10-05,1000,99,False,200000,"Family, Drama, Mystery"
5896,258978,Freezen: A Dragon Friends Yulemas,9.000,2020-12-13,1000,110,False,500,"Comedy, Music, Fantasy"

In [94]:
filtered_movies= df.drop(columns=['Unnamed: 0','vote_average','release_date','revenue','runtime','budget'])

In [98]:
filtered_movies

,title,adult,genres
0,Avatar,False,"Action, Adventure, Fantasy, Science Fiction"
1,Avengers: Endgame,False,"Adventure, Science Fiction, Action"
2,Avatar: The Way of Water,False,"Science Fiction, Adventure, Action"
3,Star Wars: The Force Awakens,False,"Adventure, Action, Science Fiction"
4,Avengers: Infinity War,False,"Adventure, Action, Science Fiction"
...,...,...,...
5892,Shrek's Yule Log,False,"Family, Animation, Comedy"
5893,Grandpa Comes Back from Germany,False,"Crime, Thriller, Action"
5894,Across the Rails,False,"Documentary, Adventure"
5895,Plane Tree,False,"Family, Drama, Mystery"
5896,Freezen: A Dragon Friends Yulemas,False,"Comedy, Music, Fantasy"

In [122]:
# Split genres column into separate genres and normalize
genres_split = filtered_movies['genres'].str.get_dummies(sep=',')
genres_split.columns = genres_split.columns.str.strip().str.lower()  # Strip spaces and lowercase

filtered_movies_with_genres = pd.concat([filtered_movies, genres_split], axis=1)

# Drop genres column
filtered_movies_with_genres.drop(columns=['genres'], inplace=True)

# Duplicated genre columns sum
genres_split_combined = genres_split.T.groupby(genres_split.columns).sum().T

# Merging Columns with the same genre
filtered_movies_with_genres = pd.concat([filtered_movies.drop(columns='genres'), genres_split_combined], axis=1)

# Count of each genre
genre_counts = genres_split_combined.sum().sort_values(ascending=False)

In [124]:
print("Genre counts:")
print(genre_counts)

filtered_movies_with_genres.head()

Genre counts:
drama              2840
comedy             2009
action             1574
thriller           1407
romance             966
adventure           962
crime               772
horror              658
family              627
fantasy             564
science fiction     521
mystery             465
animation           379
history             326
music               193
war                 191
documentary         161
western              47
tv movie             27
dtype: int64

,title,adult,action,adventure,animation,comedy,crime,documentary,drama,family,...,history,horror,music,mystery,romance,science fiction,thriller,tv movie,war,western
0,Avatar,False,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,Avengers: Endgame,False,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,Avatar: The Way of Water,False,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,Star Wars: The Force Awakens,False,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Avengers: Infinity War,False,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0